/* -------responsive---------- */

@media (max-width: 600px) {

  .favorite-list li {
    font-size: 12px;
  }
  
  .favorite-container h5{
    position: relative;
    font-size: 10px;
    left: 10px;


  }

}



/* --------------------------- */
.favorite-list {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    cursor: pointer;
  }

  .favorite-list li {
    margin-top: 10px;
    margin-bottom: 20px;
  }