.fa-star {
    color: rgb(255, 255, 0);
}

.fa-star-o {
    color: aliceblue;
}

.star-button { /* ここを修正 */
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    position: relative;
    font-size: large;
}

.tooltip {
    position: absolute;
    bottom: -20px;
    transform: translateX(170%);
    color: white;
    white-space: nowrap;
    transition: opacity 0.3s ease-in-out;
    top: 160px;
}

.star-button:hover .tooltip {
    display: block;
}

.star-button {
    left: 560px;
    top: 180px;
    margin: 10px;
    transform: scale(1.5);
}

.star-button .tooltip.show {
    display: block; 
    opacity: 1;
}

